{{ form_start(form) }}

    <div class="row">
        <div>
            {{ form_row(form.campus) }}

            {{ form_row(form.q) }}

            <div class="row">
                <div>
                    {{ form_row(form.dateMin) }}
                </div>
                <div>
                    {{ form_row(form.dateMax) }}
                </div>
            </div>
        </div>

        <div>
            {{ form_row(form.typeSortie) }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Rechercher</button>
    </div>

{{ form_end(form) }}
