{% extends '/base.html.twig' %}

{% block title %}
    {{ parent() }} | Annuler une sortie
{% endblock %}

{% block body %}

    <h2 class="display-4 text-center">Annuler une sortie</h2>

    {{ form_start(form) }}

    <div>
        <table class="container">
            <tbody class="text-center">
                <tr class="row justify-content-center">
                    <td class="col-md-2" id="td-annulerSortie">Nom de la sortie :</td>
                    <td class="col-md-3" id="td-annulerSortie">{{ sortie.nom }}</td>
                </tr>
                <tr class="row justify-content-center">
                    <td class="col-md-2" id="td-annulerSortie">Date de la sortie :</td>
                    <td class="col-md-3" id="td-annulerSortie">{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>
                </tr>
                <tr class="row justify-content-center">
                    <td class="col-md-2" id="td-annulerSortie">Campus :</td>
                    <td class="col-md-3" id="td-annulerSortie">{{ sortie.campus }}</td>
                </tr>
                <tr class="row justify-content-center">
                    <td class="col-md-2" id="td-annulerSortie">Lieu :</td>
                    <td class="col-md-3" id="td-annulerSortie">{{ sortie.lieu }}</td>
                </tr>
                <tr class="row justify-content-center">
                    <td class="col-md-2" id="td-annulerSortie">Motif :</td>
                    <td class="col-md-3" id="td-annulerSortie">{{ form_widget(form.infosSortie, {'value': ' '}) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="hidden-row">
        {{ form_widget(form) }}
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary w-5">Enregistrer</button>
        {{ form_end(form) }}
        <a href="{{ path('sorties_liste') }}" class="btn">Annuler</a>
    </div>



{% endblock %}



