{% extends '/base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h3>Filtrer les sorties</h3>

    <div class="container">
        {% include 'sorties/_filtre.html.twig' with {form: form} only %}
    </div>

    <table class="container text-center" style="margin-top: 50px">
        <thead>
            <tr class="row">
                <th class="col-md-2">Nom de la sortie</th>
                <th class="col-md-1">Date de la sortie</th>
                <th class="col-md-1">Clôture</th>
                <th class="col-md-2">Inscrit(s)/places</th>
                <th class="col-md-1">État</th>
                <th class="col-md-1">Inscrit</th>
                <th class="col-md-2">Organisateur</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
    {% for sortie in sorties %}
            <tr class="row">
                <td class="col-md-2">{{ sortie.nom }}</td>
                <td class="col-md-1">{{ sortie.dateHeureDebut | date('d/m/y') }}</td>
                <td class="col-md-1">{{ sortie.dateLimiteInscription | date('d/m/y')}}</td>
                <td class="col-md-2">{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td class="col-md-1">{{ sortie.etat.libelle}}</td>
                <td class="col-md-1">à faire</td>
                <td class="col-md-2">{{ sortie.organisateur.pseudo}}</td>
                <td class="col-md-2">à faire</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}


