{% extends '/base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <div class="infoLog Desktop">
        <p>Date du jour : {{ "now" |date('d/m/o') }}</p>
        <p>Participant : {{ app.user.pseudo() }}</p>
    </div>

    <div class="Desktop">
    <h1 class="text-center">Filtrer les sorties</h1>

    <div class="Desktop">
        {% include 'sorties/_filtre.html.twig' %}
    </div>
    </div>

    <div class="Smartphone">
        <h2 class="display-3">Mes sorties : </h2>
    </div>

    <div class="table-custom table-responsive">
    <table class="table table-striped table-hover container text-center " style="margin-top: 50px">
        <thead>
            <tr class="row">
                <th class="col-4 col-sm-4 col-md-2 ">Nom de la sortie</th>
                <th class="col-4 col-sm-4 col-md-2 ">Date de la sortie</th>
                <th class="col-md-1 Desktop">Clôture</th>
                <th class="col-md-1 Desktop">Inscrit(s) / places</th>
                <th class="col-md-1 Desktop">État</th>
                <th class="col-md-1 Desktop">Inscrit</th>
                <th class="col-md-2 Desktop">Organisateur</th>
                <th class="col-md-2 Desktop">Actions</th>
                <th class="col-4 col-sm-4 Smartphone">Lieu</th>
            </tr>
        </thead>
        <tbody>
        {% if sorties.count() == 0 %}
        <tr class="row">
            <td class="col-12">
                <div class="display-5 display-5-custom">Aucune sortie à afficher</div>
            </td>
        </tr>
        {% endif %}
    {% for sortie in sorties %}
        {% set today = "now" %}
        {# La condition ci-dessous sert à empêcher l'affichage d'une sortie en cours de création par un autre utilisateur #}
         {% if not (sortie.organisateur.pseudo is not same as (app.user.pseudo()) and sortie.etat.libelle == "Créée")  %}
            <tr class="row">
                <td class="Desktop col-md-2 ">{{ sortie.nom }}</td>
                <td class="Smartphone col-4 col-sm-4">
                    <a href="{{ path('sorties_afficher', {'id': sortie.id}) }}">{{ sortie.nom }}</a>
                </td>
                <td class="col-4 col-sm-4 col-md-2 ">{{ sortie.dateHeureDebut | date('d/m/o H\\Hi' ) }}</td>
                <td class="col-md-1 Desktop">{{ sortie.dateLimiteInscription | date('d/m/o')}}</td>
                <td class="col-md-1 Desktop">{{ sortie.participants|length }} / {{ sortie.nbInscriptionMax }}</td>
                <td class="col-md-1 Desktop">
                    {% if sortie.etat.libelle == "Créée"%}
                        {% set etat = "En création" %}
                    {% endif %}
                    {% if sortie.etat.libelle == "Ouverte"%}
                        {% if sortie.participants|length == sortie.nbInscriptionMax or sortie.dateLimiteInscription|date('d/m/o') < today|date('d/m/o') %}
                            {% set etat = "Fermé" %}
                        {% else %}
                            {% set etat = "Ouvert" %}
                        {% endif %}
                    {% endif %}
                    {% if sortie.etat.libelle == "Activité en cours"%}
                        {% set etat = "En cours" %}
                    {% endif %}
                    {% if sortie.etat.libelle == "Passée"%}
                        {% set etat = "Terminé" %}
                    {% endif %}
                    {% if sortie.etat.libelle == "Annulée"%}
                        {% set etat = "Annulé" %}
                    {% endif %}
                    {{ etat }}
                </td>
                <td class="col-md-1 Desktop">
                    {% set inscrit = false %}
                    {% for participant in sortie.participants %}
                        {% if participant.pseudo is same as app.user.pseudo %}
                            {% set inscrit = true %}
                            X
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="col-md-2 Desktop"><a href="{{ path('user_afficher', {"id": sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo}}</a></td>
                <td class="col-md-2 Desktop">
                        {% if etat == "En création" %}
                            <a href="{{ path('sorties_modifier', {'id': sortie.id}) }}">Modifier </a>
                            -
                            <a href="{{ path('sorties_publier', {'id': sortie.id}) }}"> Publier</a>
                            -
                            <a href="{{ path('sorties_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% else %}
                            <a href="{{ path('sorties_afficher', {'id': sortie.id}) }}">Afficher </a>
                        {% endif %}
                        {% if etat == "Ouvert" %}

                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                               - <a href="{{ path('sorties_annuler', {'id': sortie.id}) }}">Annuler</a>

                            {% elseif inscrit and app.user.roles[0] == "ROLE_ADMIN" %}
                                -  <a href="{{ path('sorties_desistement', {'id': sortie.id}) }}">Se désister</a>
                            {% elseif app.user.roles[0] == "ROLE_ADMIN" and not inscrit %}
                                - <a href="{{ path('sorties_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                            {% endif %}


                            {% if sortie.organisateur.pseudo is same as app.user.pseudo() and not app.user.roles[0] == "ROLE_ADMIN" %}
                               - <a href="{{ path('sorties_annuler', {'id': sortie.id}) }}">Annuler</a>

                            {% elseif inscrit %}
                              - <a href="{{ path('sorties_desistement', {'id': sortie.id}) }}">Se désister</a>
                            {% else %}
                                {% if sortie.organisateur.pseudo is not same as app.user.pseudo() %}
                               - <a href="{{ path('sorties_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                                    {% endif %}
                            {% endif %}
                        {% endif %}
                    {% if etat == "Fermé" %}
                        {% if inscrit %}
                            -
                            <a href="{{ path('sorties_desistement', {'id': sortie.id}) }}">Se désister</a>
                            {% endif %}
                        {% if sortie.organisateur.pseudo is same as app.user.pseudo() or app.user.roles[0] == "ROLE_ADMIN" %}
                            -
                            <a href="{{ path('sorties_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="col-4 col-sm-4 Smartphone">{{ sortie.lieu.ville.nom | upper }}</td>
            </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn Desktop" href="{{ path('sorties_creer') }}">Créer une sortie</a>
{% endblock %}


