<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-md navbar-expand navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Sortir.com</a>

                <div class="navbar-desktop">
                {% if app.user %}
                    <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        {% if is_granted ("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Villes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Campus</a>
                        </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Gestion des utilisateurs
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Inscription</a></li>
                                    <li><a class="dropdown-item" href="#">Désactivation</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Suppression</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Inscription</a>
                            </li>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('sorties_liste') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('user_modifier') }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
                </div>
                    <div class="navbar-mobile">
                        <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('sorties_liste') }}">Accueil</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                        </ul>
                        </div>
                    </div>
            </div>
                {% endif %}
            </div>
            </div>
        </nav>
    </header>
    <main>
        {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                </div>
            </div>
        {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
