{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} |
    {% if app.user == participant %}
        Mon profil
        {% else %}
            Profil de {{ participant.pseudo }}
    {% endif %}


{% endblock %}

{% block body %}

    <div class="afficherProfil">
        <h1>{{ participant.pseudo }}</h1>
        {% if participant.photo %}
        <img class="photoUser"
             src="/img/usersAvatars/{{ participant.photo }}"
             alt="Photo de {{ participant.pseudo }}">
            {% else %}
                <div class="photoUser">
                <img
                     src="{{ asset('img/default/cat.PNG') }}"
                     alt="Photo de {{ participant.pseudo }}">
                    <p>En attendant que {{ participant.pseudo }} ajoute sa photo !</p>
                </div>
        {% endif %}

        <table id="profil">
            <tr>
                <td><label>Prénom:</label></td>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <td><label>Nom:</label></td>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <td><label>Téléphone:</label></td>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <td><label>Campus:</label></td>
                <td>{{ participant.campus }}</td>
            </tr>
        </table>

        {% if app.user == participant %}
            <a href="{{ path('user_modifier') }}" class="btn">Modifier</a>
        {% endif %}

        <a href="{{ path('sorties_liste') }}" class="btn">Retour</a>
    </div>
{% endblock %}

