{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

{% block body %}
        {# TODO : corriger le style des messages d'erreur #}

        <div class="inscription">
        <h3>Mon Profil</h3>

    {{ form_start(modificationForm) }}

        {{ form_widget(modificationForm) }}
        <button formnovalidate class="btn">Enregistrer</button>
        <a href="{{ path('sorties_liste') }}" class="btn">Annuler</a>

        {{ form_end(modificationForm) }}
        </div>
{% endblock %}

