{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

{% block body %}
        {# TODO : corriger le style des messages d'erreur #}

        <div class="afficherProfil">
        <h2 class="display-4 text-center">Mon Profil</h2>
            {% if participant.photo %}
                <img class="photoUser"
                     src="/img/usersAvatars/{{ participant.photo }}"
                     alt="Photo de {{ participant.pseudo }}">
            {% else %}
                <div class="photoUser">
                    <img
                            src="{{ asset('img/default/cat.PNG') }}"
                            alt="Photo de {{ participant.pseudo }}">
                    <p>Et si vous ajoutiez votre vraie photo?</p>
                </div>
            {% endif %}
    <div class="inscription">
    {{ form_start(modificationForm) }}

        {{ form_widget(modificationForm) }}
        <button formnovalidate class="btn">Enregistrer</button>
        <a href="{{ path('sorties_liste') }}" class="btn">Annuler</a>

        {{ form_end(modificationForm) }}
    </div>
        </div>
{% endblock %}

