{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} |
    {% if currentUser %}
        Mon profil
    {% else %}
        profil de {# Créer une variable depuis le contrôleur pour récupérer le pseudo #}
    {% endif %}
{% endblock %}

{% block body %}
    {% if currentUser %}
        <div class="inscription">
        <h3>Mon Profil</h3>

    {{ form_start(modificationForm) }}

        {{ form_widget(modificationForm) }}
        <button formnovalidate class="btn">Enregistrer</button>
        <a href="{{ path('sorties_liste') }}" class="btn">Annuler</a>

        {{ form_end(modificationForm) }}
        </div>

    {% else %}
        <h2>Un utilisateur pourra consulter un autre profil ici</h2>
    {% endif %}
{% endblock %}

